*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing : border-box;
    box-sizing: border-box;
}

body{
    max-width: 1000px;
    min-width: 480px;
    margin: auto;
}


/*
flex responsive grid
*/

.flex-grid{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -ms-flex-pack: center; /*ie-10*/
    align-content: stretch;
    max-width: 1000px;
    min-width: 480px;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;

}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: 0 1% 20px;
}


.col-1 {
    width: 5.5%;
}
.col-2 {
    width: 14%;
}
.col-3 {
    width: 22.5%;
}
.col-4 {
    width: 31%;
}
.col-5 {
    width: 39.5%;
}
.col-6 {
    width: 48%;
}
.col-7 {
    width: 56.5%;
}
.col-8 {
    width: 64%;
}
.col-9 {
    width: 73.5%;
}
.col-10 {
    width: 82%;
}
.col-11 {
    width: 90.5%;
}
.col-12 {
    width: 97%;
}

@media all and (max-width: 768px) {

    .col-1, .col-2, .col-3, .col-4  {
        width: 48%;
    }

    .col-5, .col-6, .col-7{
        width: 48%;
    }

     .col-8, .col-9, .col-10, .col-11, .col-12{
        width: 98%;
    }
}

@media all and (max-width: 540px) {
    .flex-grid{
        flex-direction: column;
    }

    .col-1, .col-2, .col-3, .col-4,.col-5, .col-6, .col-7 {
        width: 98%;
    }
}


/*
form
*/

form{
    padding: 10px;
}

input{
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 8px;
}

.err,
.thanks{
    font-size: 12px;
    margin: 5px auto;
    color: #444400;
}

/*
page style
*/

body{
    font-family: tahoma, sans-serif;
    color: #444;
    background: #eee;
}

header>.logo{
    text-align: left;
}

.logo>a{
    text-decoration: none;
    font-weight: normal;
}

.mail{
    text-align: right;
}

.form-container>div{
    border: 1px solid #ccc;
    background: #fff;
}

section>article{
    border: 1px solid #ccc;
    background: #fff;
}

section h2,
section h3 {
   font-weight: normal;
    line-height: 2em;

}

section p{
    font-size: 14px;
    line-height: 1.3em;
}

.columns img{
    max-width: 100%;
    margin: 10px auto;
}

button{
    width: 70%;
    padding: 8px;
    margin: 5px auto;
    cursor: pointer;
}

h2{
    text-align: center;
}

.mymail{
    font-size: 20px;
}

.modal-window p{
    text-align: left;
}

/*
css3 tabs
*/


.html5tabs > input{
    display: none;
}

.tabs{
    position: relative;
    min-width: 480px;
    max-width: 800px;
    margin: 0 auto;
}

.tabs > div{
    opacity: 0;
    z-index: -3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: -1px;
    padding: 15px;
    text-align: left;
    transition: opacity 0.7s;
}

.tabs>div h2{
    line-height: 3em;
}

.tabs>div p{
    line-height: 1.5em;
    font-size: 18px;
}

#tab1:checked ~ .tabs > div:nth-of-type(1),
#tab2:checked ~ .tabs > div:nth-of-type(2),
#tab3:checked ~ .tabs > div:nth-of-type(3),
#tab4:checked ~ .tabs > div:nth-of-type(4){
    opacity: 1;
    z-index: 1;
    position: relative;
    transition: opacity 1.5s;
}

.html5tabs > label{
    cursor: pointer;
    display: inline-block;
    min-width: 20%;
    padding: 7px;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 10px 20px 0;
    position: relative;
    z-index: 40;
}

#tab1:checked ~ label:nth-of-type(1),
#tab2:checked ~ label:nth-of-type(2),
#tab3:checked ~ label:nth-of-type(3),
#tab4:checked ~ label:nth-of-type(4),
.html5tabs  label:hover {
    background: #fff;
}


/*
css3 slider
*/

.slider{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 400px;
    margin: auto;
    position: relative;
}

.slider > input{
    display: none;
}

.slides{
    position: relative;
    width: 400px;
    height: 200px;
    border: 1px solid #444;
}

.slides > div{
    opacity: 0;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.6s;
}

.slides > div > img{
    max-width: 100%;
}

/*
controls
*/

.controls{
    text-align: center;
}

.controls > label{
    display: inline-block;
    cursor: pointer;
    margin: 10px 10px;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background: #ccc;
    transition: background 0.5s;
}

.controls label:hover {
    background: #333;
}

/*
side controls
*/

.side-controls label{
    position: absolute;
    display: block;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    top: 50%;
    margin-top: -40px;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: .2;
    z-index: 20;
}

.side-controls label:hover {
    opacity: 0.8;
}

/*
Для изменения стилей правой и левой кнопки и выбранного элемента в controls, нужно изменить соответствующие стили в js файле.
Стили там отмечены комментариями
*/

/*
modal window
*/


.popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 10;
}


.popup>div{
    width: 300px;
    padding: 10px 15px;
    border-radius: 10px;
    background: #eee;
    margin: 40px auto 0;
    z-index: 20;
    position: relative;
}

.popup h3{
    text-align: center;
}

.popup .close{
    position: absolute;
    border: none;
    background: none;
    top: -5px;
    right: 10px;
    font-size: 20px;
    color: #000;
    width: 20px;
    height: 40px;
}
